{% extends  'base.html.twig' %}

{% block title %}Symfony app{% endblock %}

{% block body %}

    <h1>First Controller</h1>

    <p>Total number of books is {{ numberOfBooks * 10 }}</p>

    {% if (numberOfBooks > 10) %}

        <p>That's so many books</p>

    {% endif %}

    <div>
        <table>
            <th>
                <td>id</td>
                <td>name</td>
            </th>
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
            </tr>
        </table>
    </div>

{% endblock %}